<footer class="bg-gray border-top">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/logo_gq.png" alt="" class="img-fluid">
                        </div>
                        <p>Aplikacja zrealizowana podczas HackYeah 2022 przez zespół localhost:2022 <br/>
                            (programiści z działu IT biura podrózy Rainbow) </p>
                        <a class="email-link" href="https://r.pl" target="_blank">Strona główna Rainbow</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-link text-right">
                        Stack technologiczny:<br/>
                        Blazor Server (ASP.NET Core)<br/> 
                        SQL Server Express 2019
                    </div>
                    <div class="footer-link text-right" style="font-size:12px">
                        Skład zespołu:
                        <div>Damian Frisch</div>
                        <div>Andrzej Herman</div>
                        <div>Mateusz Kraska</div>
                        <div>Piotr Sowiak</div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="row align-items-center ">
                    <div class="col-md-7 order-md-first order-last">
                        <div class="Copyright-text">
                            <p class="m-0">Instytut Pamięci Narodowej @DateTime.Now.Year&copy; Wszelkie prawa zastrzeżone. </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <ul class="footer-menu">
                            <li><a href="mailto:it@r.pl">Skontaktuj się z Nami</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>