<div class="about-content">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-7">
                <div class="feature-img">
                    <img src="assets/img/about_2.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="text-block">
                    <h6 class="heading-sm">GENERATOR QUIZÓW EDUKACYJNYCH</h6>
                    <h3>Utwórz quiz dla swoich uczniów w czterech prostych krokach</h3>
                    <ul>
                        <li>Wybierz tematykę quizu</li>
                        <li>Wybierz poziom trudności</li>
                        <li>Wybierz liczbę pytań</li>
                        <li>Wygeneruj quiz i zapisz go</li>
                    </ul>
                    <hr>
                    <blockquote class="blockquote quote-text">
                        <p class="mb-0">“Historia najczęściej opisuje zmiany dzienne. W narodach obcą przemocą przygniecionych, najczęściej w ciemnościach nocy gotują się wypadki które jasność dnia odsłania ...”</p>
                        <cite class="quote-attribution">Jan Czyński, <span style="font-style: italic">Jakubini polscy</span></cite>
                    </blockquote> 
                </div>
            </div>
        </div>
    </div>
</div>